<<<<<<< HEAD
/* Enter your custom styles here */
.iodet .sapMITBHead {
    margin-top: 0 !important;
}

.iodet .sapMOHR {
    padding: 0.5rem 1.5rem !important;
}

.iodet .sapMITH .sapMITBScrollContainer {
    margin: 0 1rem !important;
}

.iodet .sapUiFormResGrid>div {
    padding: 0 0.75rem !important;
}

.iodet .sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont>div {
    padding-top: 0.1rem !important;
    padding-bottom: 0 !important;
}

.iodet .sidePadding {
    padding: 0 1rem !important;
}

.iostyle .sapMITBHead {
    margin-top: 0 !important;
}

.iostyle .sapMILI {
    height: 1.5rem !important;
}

.iostyle .stylHdrPadding{
    padding: 0 1rem !important;
}

.iostyle .sapMPanelContent:not(.sapMPanelBGTransparent) {
    border-bottom: none !important;
}

.iostyle .sapMITBContent {
    border-bottom: none !important;
=======
.sapUiRespGrid{

    padding-top: 0rem !important;

    padding-bottom: 0rem !important;

    /*padding-right: 2rem;

    padding-left: 2rem;*/

}
.sapMOHR{
    padding-top: 0.5rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 0.5rem !important;    
}

.sapMOHRStates {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 0.5rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 0.5rem !important;  
    width: 100%;
    max-width: 95rem;
    padding: 0;
}   

.sapMITBHead {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    margin: 0.25rem 0.25rem 0 0.25rem;
    margin-top: 0.25rem !important;
    margin-right: 0.25rem !important;
    margin-bottom: 0px !important;
    margin-left: 0.25rem !important;
    padding-top: 0.5rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 0.5rem !important;  
    vertical-align: top;
    font-size: 0.25rem;
}

.sapMITH {
    box-shadow: inherit;
    border-top: 0.125rem solid #d1e0ee;
    border-bottom: 0.125rem solid #d1e0ee;
}

.sapUiFormResGrid>div {
    padding: 0rem 0rem !important;
    box-sizing: border-box !important;
>>>>>>> 261de1fdeccbdb752e5e5b6bddaa3317d7b5ef36
}